.fv{
        position: relative;
        h1{
            img{
                height: 90%;
                object-fit: cover;
                object-position: top;
                vertical-align: bottom;
            }
        }
        &-free{
            width:20vw;
            max-width: 160px;
            min-width: 107px;
            position: absolute;
            top:53%;
            left: 5%;
        }
        .counseling{
            position: absolute;
            top:75%;
            left: 0;
            
        }
}