.fv{
        position: relative;
        h1{width :100%; 
            img{
                    width:100%;
                object-fit: contain;
                object-position: top;
                vertical-align: bottom;
            }
        }
        &-free{
            width:20vw;
            max-width: 160px;
            min-width: 107px;
            position: absolute;
            top:53%;
            left: 5%;
        }
        .counseling{
            position: absolute;
            top:60%;
            left: 0;
            
        }
}
