.user-voice {
    background-image: linear-gradient(110deg, rgba(255, 236, 239, 1)30%, rgba(255, 234, 118, 1)100%);
    padding-inline: 16px;
    padding-bottom: 20px;
    padding-top: 10px;

    .voice {
        background-color: rgba(255, 255, 255, 1);
        border: 1px solid rgba(191, 183, 139, 1);
        position: relative;
        padding-bottom: 32px;
        max-width: 344px;
        margin-inline: auto;
    }

    .voice-english {
        font-family: Caveat;
        font-size: 24px;
        color: rgba(255, 162, 188, 0.9342);
        text-align: center;
    }

    .voice-japanese {
        font-family: MOBO-Bold;
        font-weight: 700;
        font-size: 32px;
        color: rgba(129, 102, 79, 1);
        text-align: center;
        position: relative;

        &::before {
            content: "";
            background-color: rgba(129, 102, 79, 1);
            width: 40px;
            height: 1px;
            position: absolute;
            top: 50%;
            left: 10%;
        }

        &::after {
            content: "";
            background-color: rgba(129, 102, 79, 1);
            width: 40px;
            height: 1px;
            position: absolute;
            top: 50%;
            right: 10%;
        }
    }

    .user-image {
        width: 270px;
        display: block;

        position: absolute;
        top: -35px;
        left: calc(50% - 135px);
    }

    .voice-exa {
        font-size: 48px;
        font-family: Caveat;
        font-weight: 400;
        color: rgba(200, 100, 136, 1);

        p {
            height: 29px;
        }

        &-voice {
            position: absolute;
            top: 19.65px;
            left: 13px;
            transform: rotate(-9.71deg);
        }

        &-number {
            position: absolute;
            top: 49.75px;
            left: 23px;
            transform: rotate(-2.28deg);
        }
    }

    .voice-attribute {
        font-size: 16px;
        font-family: Zen Kaku Gothic New;
        font-weight: 500;
        text-align: center;
        color: rgba(255, 255, 255, 1);
        background-color: rgba(200, 100, 136, 1);
        width: 122px;
        height: 33px;
        border-radius: 0 16px 0 0;
        position: absolute;
        z-index: 3;
        top: 133px;
        left: 0;

    }

    .voice-sub {
        display: inline-block;
        margin-inline: auto;
        margin-top: 201px;
        margin-bottom: 20px;
        display: flex;

        div {
            display: inline-block;
            margin-block: auto;

            p {
                font-size: 20px;
                font-weight: 400;
                font-family: Zen Kaku Gothic New;
                color: rgba(81, 81, 81, 1);
            }
        }

        img {
            width: 19px;
        }
    }

    .voice-text {
        font-family: Zen Kaku Gothic New;
        font-weight: 500p;
        color: rgba(81, 81, 81, 1);
        width: 305px;
        margin-inline: auto;
        font-size: 15px;

        span {
            color: rgba(200, 100, 136, 1);
        }
    }

    .voice1 {
        margin-top: 80px;

        .voice-sub {
            width: 278px;
        }
    }

    .voice2 {
        margin-block: 55px;
        position: relative;

        .voice-sub {
            width: 313px;
        }
    }

    .voice3 {
        .voice-sub {
            width: 308px;
        }
    }
}