@charset "UTF-8";
.fv {
  position: relative;
}
.fv h1 img {
  width: 100%;
  height: 90%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
  vertical-align: bottom;
}
.fv-free {
  width: 20vw;
  max-width: 160px;
  min-width: 107px;
  position: absolute;
  top: 63%;
  left: 5%;
}
.fv .counseling {
  position: absolute;
  bottom: 0;
  left: 0;
}
@media (min-width: 450px) {
  .fv .counseling {
    bottom: 5%;
  }
}

.user-voice {
  background-image: linear-gradient(110deg, rgb(255, 236, 239) 30%, rgb(255, 234, 118) 100%);
  padding-inline: 16px;
  padding-bottom: 20px;
  padding-top: 10px;
}
.user-voice .voice {
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(191, 183, 139);
  position: relative;
  padding-bottom: 32px;
  max-width: 344px;
  margin-inline: auto;
}
.user-voice .voice-english {
  font-family: Caveat;
  font-size: 24px;
  color: rgba(255, 162, 188, 0.9342);
  text-align: center;
}
.user-voice .voice-japanese {
  font-family: MOBO-Bold;
  font-weight: 700;
  font-size: 32px;
  color: rgb(129, 102, 79);
  text-align: center;
  position: relative;
}
.user-voice .voice-japanese::before {
  content: "";
  background-color: rgb(129, 102, 79);
  width: 40px;
  height: 1px;
  position: absolute;
  top: 50%;
  left: 10%;
}
.user-voice .voice-japanese::after {
  content: "";
  background-color: rgb(129, 102, 79);
  width: 40px;
  height: 1px;
  position: absolute;
  top: 50%;
  right: 10%;
}
.user-voice .user-image {
  width: 270px;
  display: block;
  position: absolute;
  top: -35px;
  left: calc(50% - 135px);
}
.user-voice .voice-exa {
  font-size: 48px;
  font-family: Caveat;
  font-weight: 400;
  color: rgb(200, 100, 136);
}
.user-voice .voice-exa p {
  height: 29px;
}
.user-voice .voice-exa-voice {
  position: absolute;
  top: 19.65px;
  left: 13px;
  transform: rotate(-9.71deg);
}
.user-voice .voice-exa-number {
  position: absolute;
  top: 49.75px;
  left: 23px;
  transform: rotate(-2.28deg);
}
.user-voice .voice-attribute {
  font-size: 16px;
  font-family: Zen Kaku Gothic New;
  font-weight: 500;
  text-align: center;
  color: rgb(255, 255, 255);
  background-color: rgb(200, 100, 136);
  width: 122px;
  height: 33px;
  border-radius: 0 16px 0 0;
  position: absolute;
  z-index: 3;
  top: 133px;
  left: 0;
}
.user-voice .voice-sub {
  display: inline-block;
  margin-inline: auto;
  margin-top: 201px;
  margin-bottom: 20px;
  display: flex;
}
.user-voice .voice-sub div {
  display: inline-block;
  margin-block: auto;
}
.user-voice .voice-sub div p {
  font-size: 20px;
  font-weight: 400;
  font-family: Zen Kaku Gothic New;
  color: rgb(81, 81, 81);
}
.user-voice .voice-sub img {
  width: 19px;
}
.user-voice .voice-text {
  font-family: Zen Kaku Gothic New;
  font-weight: 500p;
  color: rgb(81, 81, 81);
  width: 305px;
  margin-inline: auto;
  font-size: 15px;
}
.user-voice .voice-text span {
  color: rgb(200, 100, 136);
}
.user-voice .voice1 {
  margin-top: 80px;
}
.user-voice .voice1 .voice-sub {
  width: 278px;
}
.user-voice .voice2 {
  margin-block: 55px;
  position: relative;
}
.user-voice .voice2 .voice-sub {
  width: 313px;
}
.user-voice .voice3 .voice-sub {
  width: 308px;
}

.cause {
  background-color: rgb(255, 236, 239);
  padding-bottom: 10px;
}
.cause-root {
  position: relative;
  text-align: center;
}
.cause-root div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  width: 60%;
  height: 48%;
  left: 50%;
  top: 34px;
  translate: -50% 0;
  background-image: radial-gradient(rgb(255, 255, 255) 0%, rgba(255, 255, 255, 0.5) 60%, rgba(255, 255, 255, 0) 80%);
  border-radius: 50%;
}
.cause-root p {
  font-family: yosugara;
  font-size: clamp(24px, 1vw + 1em, 3.2rem);
  font-weight: 500;
  color: 0, 0, 0, 1;
  display: inline-block;
  text-align: center;
}
.cause-root p span {
  background-image: linear-gradient(60deg, rgb(255, 245, 188) 50%, rgba(255, 255, 255, 0) 100%);
}
.cause-root img {
  width: 80%;
  margin-top: 55px;
}
.cause .reason {
  background-color: rgb(255, 255, 255);
  width: 96%;
  margin-inline: auto;
  border-radius: 15px;
  margin-bottom: 20px;
  padding-bottom: 20px;
}
.cause .reason-exa {
  color: rgb(79, 54, 54);
  font-family: Zen Kaku Gothic New;
  font-weight: 500;
  font-size: clamp(20px, 1vw + 0.2em, 3rem);
  text-align: center;
  display: block;
  margin-inline: auto;
  line-height: 42px;
  margin-bottom: 30px;
  width: 328px;
  height: 42px;
  border-radius: 20px 0 20px 0;
  background-image: linear-gradient(to right, rgb(255, 224, 249) 0%, rgb(255, 187, 198) 100%);
}
.cause .reason-image {
  margin-left: -2%;
}
.cause .reason-number {
  font-family: Inter;
  font-weight: 400;
  font-size: clamp(36px, 1vw + 1em, 3.2rem);
}
.cause .reason-title {
  font-weight: 400;
  font-size: clamp(20px, 1vw + 1em, 3.2rem);
  font-family: Cedarville Cursive;
}
.cause .reason-title, .cause .reason-number {
  color: rgb(200, 100, 136);
  text-align: center;
}
.cause .reason div {
  width: 92%;
  margin-inline: auto;
  font-weight: 500;
  font-family: Zen Kaku Gothic New;
  font-size: clamp(14px, 1vw + 0.1em, 3.2rem);
  color: rgb(81, 81, 81);
}
.cause .reason div span {
  color: rgb(200, 100, 136);
}
.cause .reason-counseling {
  width: 91%;
}
.cause .reason-solve {
  width: 60%;
}
.cause .reason-counseling, .cause .reason-solve {
  display: block;
  margin-inline: auto;
}

.income-point {
  background-color: rgb(255, 236, 239);
  position: relative;
}
.income-point img {
  -webkit-clip-path: polygon(0 0, 100% 13%, 100% 100%, 0 87%);
          clip-path: polygon(0 0, 100% 13%, 100% 100%, 0 87%);
}
.income-point .point-text {
  display:flex;
  align-items: flex-start;
  position: absolute;
  right: 15%;
  top: 0;
  direction: rtl;
  opacity: 0;
  transition: 0.5s;
  transform: translateY(-100px);
  height:70%;
}
.income-point .point-text p {
  width: fit-content;
  direction: ltr;
  display: inline-block;
  padding-inline: 5px;
  writing-mode: vertical-lr;
  font-family: MOBO-Bold;
  font-weight: 700;
  font-size: clamp(20px, 1vw + 1em, 3.2rem);
  background-color: rgb(255, 255, 255);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  color: rgb(255, 80, 135);
  vertical-align: top;
}

.income-point .point-text1 span {
  background-image: linear-gradient(rgb(255, 79, 0) 0.5%, rgb(255, 217, 65) 20%, rgb(255, 80, 135) 100%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}
.income-point .point-text2 span {
  background-image: linear-gradient(rgb(255, 217, 65) 0%, rgb(255, 80, 135) 80%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
}

.pro-counselor {
  background-color: rgb(255, 236, 239);
  text-align: center;
  padding-top: 30px;
}
.pro-counselor .title1 {
  color: rgb(200, 100, 136);
  font-family: yosugara;
  font-size: clamp(20px, 1vw + 1em, 3.2rem);
  font-weight: 500;
  position: relative;
  display: inline;
}
.pro-counselor .title1::before {
  width: 98%;
  height: 1px;
  content: "";
  background-color: rgb(200, 100, 136);
  position: absolute;
  bottom: -5px;
  left: -5px;
}
.pro-counselor .title1::after {
  width: 13px;
  height: 13px;
  content: "";
  border-top: 11px solid rgb(200, 100, 136);
  border-bottom: 7px solid transparent;
  border-inline: 7px solid transparent;
  position: absolute;
  bottom: -26px;
  left: calc(50% - 6px);
}
.pro-counselor .title2 {
  font-size: clamp(20px, 1vw + 0.5em, 3.2rem);
  margin-top: 30px;
  width: 75%;
  height: 40px;
  line-height: 40px;
  display: block;
  margin-inline: auto;
  border-radius: 20px 0 20px 0;
  color: rgb(200, 100, 136);
  background-color: rgb(255, 255, 255);
  border: 1px solid rgb(200, 100, 136);
}
.pro-counselor .title3 {
  font-size: clamp(16px, 1vw + 0.5em, 3.2rem);
  color: rgb(129, 102, 79);
}
.pro-counselor .title2,
.pro-counselor .title3 {
  font-family: Noto Sans JP;
  font-weight: 700;
  text-align: center;
}
.pro-counselor .counselor-div1,
.pro-counselor .counselor-div2,
.pro-counselor .counselor-div3 {
  position: relative;
  width: 100%;
}
.pro-counselor .counselor-div1 .counselor-bg,
.pro-counselor .counselor-div2 .counselor-bg,
.pro-counselor .counselor-div3 .counselor-bg {
  position: absolute;
  top: 0;
  bottom: 0;
  margin-block: auto;
  z-index: 2;
  max-width: 200px;
  min-width: 130px;
  width: 40vw;
  max-height: 200px;
  min-height: 130px;
  height: 40vw;
  border-radius: 50%;
  background-image: radial-gradient(rgb(255, 254, 241) 60%, rgba(255, 255, 255, 0) 70%);
}
.pro-counselor .counselor-div1 .counselor-bg p,
.pro-counselor .counselor-div2 .counselor-bg p,
.pro-counselor .counselor-div3 .counselor-bg p {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
}
.pro-counselor .counselor-div1 p,
.pro-counselor .counselor-div2 p,
.pro-counselor .counselor-div3 p {
  z-index: 3;
  font-family: yosugara;
  color: rgb(81, 81, 81);
  font-size: clamp(20px, 1vw + 0.3em, 3.2rem);
  font-weight: 500;
  text-align: center;
  max-width: 146px;
  min-width: 130px;
  width: 30vw;
}
.pro-counselor .counselor-div1 div,
.pro-counselor .counselor-div3 div {
  left: 7%;
}
.pro-counselor .counselor-div2 div {
  right: 7%;
}
.pro-counselor .counselor-div1 p::before {
  translate: -3% -35%;
}
.pro-counselor .happy-review {
  padding-top: 50px;
}
.pro-counselor .counselor-bottom p {
  font-family: Zen Kaku Gothic New;
  font-weight: 500;
  font-size: clamp(20px, 1vw + 0.2rem, 3.2rem);
  color: rgb(0, 0, 0);
}
.pro-counselor .counselor-bottom .take-happy-review {
  background-color: rgb(255, 255, 255);
  width: 86%;
  height: 55px;
  line-height: 55px;
  text-align: center;
  margin-inline: auto;
}
.pro-counselor .counselor-bottom .take-happy-review span {
  color: rgb(255, 80, 135);
  background-image: radial-gradient(circle at center, rgb(255, 80, 135) 20%, transparent 20%);
  /* 点の色とサイズ調整 */
  background-position: top right;
  /* 点の位置 */
  background-repeat: repeat-x;
  /* 横方向に繰り返し */
  background-size: 1em 0.3em;
  /* 点の間隔とサイズ調整 */
  padding-top: 0.4em;
  /* 縦方向の位置調整 */
}
.pro-counselor .counselor-bottom p:not([class]) {
  border: 1px solid rgb(255, 140, 159);
  border-radius: 50%;
  width: 52px;
  height: 52px;
  line-height: 52px;
  margin-inline: auto;
  margin-bottom: 10px;
  position: relative;
}
.pro-counselor .counselor-bottom p:not([class])::before {
  content: "";
  width: 10px;
  height: 1px;
  transform: rotate(36deg);
  background-color: rgb(255, 140, 159);
  position: absolute;
  bottom: -9%;
  right: calc(50% - 15px);
}

.voice-slick {
  background-color: rgb(255, 255, 255);
  position: relative;
}
.voice-slick section {
  width: 92%;
  margin-inline: auto;
}
.voice-slick section ol {
  position: absolute;
  list-style: none;
  bottom: 50px;
  left: 8%;
  width: 84%;
}
.voice-slick .arrow {
  width: 5%;
  position: absolute;
  top: 48%;
  z-index: 4;
  cursor: pointer;
}
.voice-slick .prev-btn {
  left: -7%;
}
.voice-slick .next-btn {
  right: -7%;
}

.privilege {
  background-image: linear-gradient(to right, rgb(255, 155, 195) 0%, rgb(206, 236, 255) 80%);
  padding-top: 20px;
}
.privilege .frame {
  width: 94%;
  margin-inline: 3%;
}
.privilege-frame {
  position: relative;
}
.privilege-content {
  position: absolute;
  top: -4px;
  left: 4%;
  width: 92%;
  height: 100%;
}
.privilege-content .textbook {
  height: 30%;
}
.privilege-content .textbook-top, .privilege-content .invitation {
  position: relative;
  padding-top: 15%;
  width: 80%;
  margin-inline: auto;
  margin-bottom: 20px;
}
.privilege-content .textbook-top .right-text, .privilege-content .invitation .right-text {
  position: absolute;
  right: 0;
  top: 0;
  min-width: 150px;
  width: 50%;
}
.privilege-content .textbook-top .privilege-number, .privilege-content .invitation .privilege-number {
  font-family: MOBO-Bold;
  font-weight: 700;
  font-size: 20px;
  color: rgb(200, 100, 136);
  position: absolute;
  left: 9%;
  top: 10%;
}
.privilege-content .textbook-top .textbook, .privilege-content .textbook-top .invite, .privilege-content .invitation .textbook, .privilege-content .invitation .invite {
  font-family: MOBO-Bold;
  font-weight: 700px;
  font-size: 20px;
  color: rgb(255, 255, 255);
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.25);
  line-height: 35px;
  height: 35px;
  border-radius: 40px;
  text-align: center;
  margin-inline: auto;
  margin-bottom: 15px;
  border: 1px solid red;
  background-image: linear-gradient(to right, rgb(255, 134, 153) 0%, rgb(254, 190, 107) 100%);
}
.privilege-content .textbook-top .textbook-image, .privilege-content .invitation .textbook-image {
  width: 32%;
  display: block;
  margin-inline: auto;
}
.privilege-content .textbook-top .invitation-image, .privilege-content .invitation .invitation-image {
  width: 94%;
  display: block;
  margin-inline: auto;
}
.privilege-content .invitation .privilege-number {
  top: 8%;
}
.privilege-content .book {
  width: 94%;
  display: block;
  margin-inline: auto;
  margin-bottom: 5%;
  opacity: 0;
  transform: translateY(70px);
  transition: 0.5s;
}
.privilege-content .invitation-content {
  width: 96%;
  margin-inline: auto;
  border: 1px solid rgb(200, 100, 136);
  box-shadow: 0 6px 0 rgb(200, 100, 136);
  background-color: rgb(255, 255, 255);
  border-radius: 25px;
  padding-block: 3%;
}
.privilege-content .invitation-content p {
  width: 75%;
  margin-inline: auto;
  font-family: Zen Kaku Gothic New;
  font-weight: 700;
  font-size: clamp(13px, 1vw + 0.5em, 3.2rem);
  color: rgb(81, 81, 81);
}
.privilege-content .invitation-content p span {
  color: rgb(200, 100, 136);
}

.why {
  background-image: url(../img/さくらぼ2月\ \(8\)\ 3.png);
  background-size: cover;
  padding-bottom: 15px;
  padding-top: 30px;
}
.why p {
  font-family: Zen Kaku Gothic New;
  color: rgb(200, 100, 136);
}
.why img {
  width: 85%;
  display: block;
  margin-inline: auto;
  margin-top: 20px;
}
.why-title {
  font-size: clamp(20px, 1vw + 0.5em, 3.2rem);
  font-weight: 900;
  text-align: center;
  display: block;
  margin-inline: auto;
  padding-bottom: 5px;
  width: 80%;
  background-image: linear-gradient(to right, rgb(207, 180, 190) 1.8px, transparent 1.8px);
  background-size: 3.6px 1px;
  background-repeat: repeat-x;
  background-position: left bottom;
}
.why-text {
  font-weight: 500;
  font-size: clamp(13px, 1vw + 0.3em, 3.2rem);
  width: 88%;
  display: block;
  margin-inline: auto;
  margin-top: 20px;
  text-shadow: 0 4px 4px rgba(238, 134, 172, 0.25);
  letter-spacing: 1px;
}
.why-text span {
  font-weight: 700;
}
.why .counseling {
  margin-top: 40px;
  margin-inline: auto;
}

.letter {
  background-image: url(../img/Group\ 804.png);
  background-size: cover;
  padding-inline: 6%;
  padding-block: 40px;
}
.letter p {
  font-family: Zen Kaku Gothic New;
  font-weight: 700;
  color: rgb(129, 102, 79);
}
.letter-title {
  font-size: clamp(24px, 1vw + 1em, 3.2rem);
  text-shadow: 0 0 10px rgb(255, 255, 255);
}
.letter p:not(.letter-title) {
  font-size: clamp(16px, 1vw + 0.3em, 3.2rem);
  text-shadow: 0 0 10px rgba(255, 255, 255, 0.25);
}
.letter p:not([class]) {
  margin-top: 20px;
}
.letter-name {
  margin-top: 30px;
}

.q-a {
  background-color: rgb(242, 242, 242);
}
.q-a-title {
  font-size: clamp(32px, 1vw + 1em, 3.2rem);
  width: 86%;
  margin-inline: auto;
  color: rgb(200, 100, 136);
  font-weight: 700;
  font-family: MOBO-Bold;
  border-bottom: 6px solid rgb(200, 100, 136);
}
.q-a .question {
  border-radius: 8px;
  border: 1px solid rgb(200, 100, 136);
  padding-block: 16px;
  background-color: rgb(250, 250, 250);
  box-shadow: 6px 5px 11px rgba(0, 0, 0, 0.25);
  width: 94%;
  margin-inline: auto;
  margin-top: 20px;
}
.q-a .q {
  display: flex;
  justify-content: space-between;
  height: 40px;
  width: 91%;
  margin-inline: auto;
}
.q-a .q-text {
  display: table;
  width: 90%;
  border-collapse: separate;
}
.q-a .q-number {
  color: rgb(200, 100, 136);
  font-family: Caveat;
  font-weight: 400;
  font-size: 40px;
  line-height: 40px;
}
.q-a .q-content {
  color: rgb(0, 0, 0);
  font-family: Zen Kaku Gothic New;
  font-weight: 700;
  font-size: 14px;
  height: 40px;
  width: 84%;
  padding-left: 2%;
  display: table-cell;
  vertical-align: middle;
}
.q-a .q .toggle-btn {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  border: 2px solid rgb(200, 100, 136);
  transition: all 0.5s;
  cursor: pointer;
  position: relative;
}
.q-a .q .toggle-btn span {
  background-color: rgb(200, 100, 136);
  transition: 0.5s;
  margin-inline: auto;
  position: absolute;
}
.q-a .q .toggle-btn span:nth-child(1) {
  width: 16px;
  height: 2px;
  top: calc(50% - 1px);
  left: calc(50% - 8px);
  opacity: 1;
}
.q-a .q .toggle-btn span:nth-child(2) {
  width: 2px;
  height: 16px;
  top: calc(50% - 8px);
  left: calc(50% - 1px);
  opacity: 1;
}
.q-a .accordion {
  width: 65%;
  margin-inline: auto;
  opacity: 0;
  visibility: hidden;
  max-height: 0;
}
.q-a .accordion p {
  font-family: Zen Kaku Gothic New;
  line-height: 20px;
  font-weight: 700;
  font-size: 14px;
  color: rgb(200, 100, 136);
}
.q-a .open .accordion {
  opacity: 1;
  visibility: visible;
  max-height: 120px;
  transition: opacity 0.5s, visibility 0.3s;
}
.q-a .open .toggle-btn span:nth-child(2) {
  opacity: 0;
}
.q-a .counseling {
  margin-top: 40px;
  padding-bottom: 20px;
  margin-inline: auto;
}

img {
  max-width: 100%;
}

a {
  text-decoration: none;
}

body {
  max-width: 700px;
  margin-inline: auto;
  font-family: Zen Kaku Gothic New;
}

h1 {
  vertical-align: bottom;
}

.worries img {
  vertical-align: bottom;
}

@font-face {
  font-family: "MOBO-Bold";
  src: url(../font/MOBO-Bold.otf) format("opentype");
}
@font-face {
  font-family: "yosugara";
  src: url(../font/yosugaraver1_2.ttf) format("truetype");
}
.counseling {
  min-width: 280px;
  width: 90%;
  margin-inline: 5%;
}
.counseling p {
  text-align: center;
  color: rgb(255, 80, 135);
  font-size: clamp(18px, 1vw + 1em, 3.2rem);
  font-family: Zen Kaku Gothic New;
  font-weight: 700;
}
.counseling a {
  display: block;
  color: rgb(255, 255, 255);
  font-size: 20px;
  position: absolute;
  z-index: 5;
  text-align: center;
  min-width: 280px;
  width: 100%;
  line-height: 55px;
  border-radius: 80px;
  font-family: Zen Kaku Gothic New;
  font-weight: 700;
}
.counseling-border {
  min-width: 349px;
  width: 100%;
  height: 62px;
  margin-inline: auto;
  border-radius: 80px;
  padding: 2px;
  background: linear-gradient(rgb(237, 233, 208), rgb(191, 183, 139), rgb(228, 222, 186), rgb(154, 145, 92));
}
.counseling-booking {
  position: relative;
  background-color: rgb(255, 116, 155);
  width: 100%;
  height: 58px;
  border-radius: 80px;
  margin-inline: auto;
}
.counseling-booking::before {
  position: absolute;
  top: 0;
  left: -70%;
  z-index: 6;
  width: 30%;
  height: 100%;
  content: "";
  transform: skewX(-25deg);
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.3) 100%);
  animation: shine 1.3s infinite;
}
@keyframes shine {
  100% {
    left: 90%;
  }
}
.counseling-shadow {
  width: 290px;
  height: 31px;
  border-radius: 80px;
  background-color: rgb(255, 80, 135);
  position: absolute;
  bottom: 0;
  left: calc(50% - 145px);
}

.counseling-btn {
  background-color: rgb(255, 236, 239);
  padding-bottom: 25px;
  padding-top: 40px;
}
.counseling-btn div {
  margin-inline: auto;
}
.counseling-btn-white {
  background-color: rgb(255, 255, 255);
  padding-bottom: 15px;
}
.counseling-btn-white div {
  margin-inline: auto;
}

.merit {
  vertical-align: bottom;
}/*# sourceMappingURL=style.css.map */
